.user-settings {
    margin-left: 80px; 
    margin-top: 40px; 


  }
  .containe{
    background-color: #007bff !important;
    transition: 1.5s;
    width: 225px;
    height: 40px;
    margin-top: 15px !important;
  }
  .containe:hover{
    background-color: #ffffff !important;
    color:#007bff;
    border: 1px solid #007bff;
  }
  
  .details-section,
  .password-section {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .forgot-password {
    color: #007bff;
    cursor: pointer;
    margin-left: 60px;

    margin-bottom: 43px !important;
  }
  
  /* .forgot-password {
    color: #007bff;
    cursor: pointer;
    margin-top: 5px;
  } */